# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/blog/dist
/blog/tmp
/blog/out-tsc
/blog-react/dist
obj/
bin/

# dependencies
node_modules/
/blog/node_modules
/blog-react/node_modules

# IDEs and editors
/.idea
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
shared/lib