:host {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content {
  height: 100%;
}

.wheel {
  width: 75px;
  height: 75px;
}

.bottom{
    margin-top: auto;
}

.wheel-column {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

h1::first-letter { 
    font-size: 200%;
    color: #8A2BE2;
  }