#particles-js {
  width: auto;
  height: calc(100vh - 56px);
  background-color: #043564;
  background-image: url("http://vincentgarreau.com/particles.js/assets/img/kbLd9vb_new.gif");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 0 50%;
}

.full-width {
  width:auto;
  height: calc(100vh - 56px);
  background:red;
  overflow:hidden;
}