@import 'node_modules/bootstrap/scss/bootstrap.scss';

:host {
  margin: 20px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center
}

.home_page{
  display: flex;
  align-items: center;
}

.wheel {
  width: 75px;
  height: 75px;
  position: absolute;
}

h1::first-letter { 
    font-size: 200%;
    color: rgb(41, 96, 179);
  }

.left{
    left: 0px;
}

.right{
    right: 0px;
}

.bottom{
    bottom: 0px;
}

.top{
    top: 0px;
}