<div class="todo-line">
  <img src="assets/icons/angular_logo.svg"
    class="logo" />

  <form class="todos todo-line">
    <mat-form-field>
      <input matInput
        placeholder="Task"
        name="task"
        [(ngModel)]="newItem.text"
        (ngModelChange)="onKeyDown()" />
    </mat-form-field>
    <div>
      <button mat-raised-button
        color="primary"
        (click)="addItem()">
        Add task
      </button>
    </div>
  </form>
</div>

<mat-nav-list>
  <div class="list-item" *ngFor="let item of items">
    <div>
      {{ item.text }}
    </div>

    <img src="./assets/cancel.svg"
      class="cancel-svg"
      (click)="removeItem(item)" />
  </div>
</mat-nav-list>