html,
body {
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.atm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
  width: 100%
} 

.container {
  display: flex;
}

.atmSubmit{
  display: flex;
  flex-direction: row;
}

.atmSubmit > .amountToWithdraw{
  width: 100%
}

.withdrawResult{
  height: 300px;
}