.svg {
    width: 35px;
    height: 35px;
    margin-left: 20px; 
}

.bullet {
    width: 15px;
    height: 15px;
}

.svg:hover {
	cursor: pointer;
	filter: invert(.5) sepia(1) saturate(50) hue-rotate(175deg);
}

.todo-text {
    overflow: hidden;
    word-wrap: break-word;
}